<section class="fondo">
  <section class="usuarios-section">

    <ul class="usuarios-list">
    @for (usuario of listaUsuarios; track $index) {
      @if(usuario.tipo === 2){
        <li class="usuario-item">
          <div class="usuario-content">
          <h3 class="usuario-nombre"> Usuario: {{usuario.nombreUsuario}}</h3>
          <button class="detalle-boton" type="button" [routerLink]="['/ver-detalle-usuario', adminId, usuario.id]">Ver detalle</button>
        </div>
        </li>
      }
    }
  </ul>
  </section>
</section>


