.usuarios-section {
  padding: 2%;
  background-color: #efefef90;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
width: 45%;
margin-top: 3%;
margin-left: 25%;
  border-radius: 8px;
  position: absolute;
}

.usuarios-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
 
.usuario-item {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
  transition: transform 0.3s ease;
}

.usuario-item:hover {
  transform: translateY(-5px);
  background-color: #36173d89;
}

.usuario-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.usuario-nombre {
  font-size: 18px;
  font-weight: bold;
  color: #36173d;
  margin: 0;
}

.detalle-boton {
  align-self: flex-start;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #36173d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.detalle-boton:hover {
  background-color: #ff4845b2;
  color: #36173d;
}
.fondo{
  box-sizing: border-box;
  width: 100%;
  display: row;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  min-height:100vh;
  padding: 0;
  margin: 0;
  color:white;
  position: relative;
     background: url('/img/background-op2.png') center center   / cover no-repeat;
}

.detalle-boton:active {
  transform: translateY(2px);
}
