<h1>Comprar entrada</h1>
<h3>Aca esta la foto de los sectores</h3>
<section>
  <fieldset>
    @if(fechaSeleccionada.entradas){
      <ul>
        <li *ngFor="let entrada of fechaSeleccionada.entradas">
          <input type="radio"
                 id="sectorSeleccionado"
                 name="sectorSeleccionado"
                 [(ngModel)]="sectorSeleccionado"
                 [value]="entrada.nombreSector"
                 (change)="asignarSectorYPrecio(entrada)"
                 [disabled]="entrada.disponibles === 0" />
          <label>{{entrada.nombreSector}}</label>
          <p>${{entrada.precio}}</p>
        </li>
      </ul>
    }

    <h4>Cantidad</h4>

    <select [(ngModel)]="compra.cantidad" (change)="actualizarTotalPrecio()">
      <option value="" disabled selected>Seleccionar cantidad</option>
      <option value="1" *ngIf="asientosDisponibles >= 1">1</option>
      <option value="2" *ngIf="asientosDisponibles >= 2">2</option>
      <option value="3" *ngIf="asientosDisponibles >= 3">3</option>
      <option value="4" *ngIf="asientosDisponibles >= 4">4</option>
    </select>


    <div *ngIf="sectorSeleccionado">
      <p>{{sectorSeleccionado}} X{{compra.cantidad}} ${{compra.precioTotal}}</p>
    </div>


    <button (click)="comprarEntrada()">Comprar entrada</button>

  </fieldset>

  <div *ngIf="mostrarPago && compraCompletaJson">
    <app-pago [compra]="compraCompletaJson"></app-pago>
  </div>
</section>
