<h1>Comprar entrada</h1>
<h3>Aca esta la foto de los sectores</h3>
<section>
  <fieldset>
    <ul *ngIf="evento?.fechas">
      <li *ngFor="let fecha of evento?.fechas">
        <ul>
          <li *ngFor="let entrada of fecha.entradas">
            <input
              type="radio"
              id="sectorSeleccionado"
              name="sectorSeleccionado"
              [(ngModel)]="sectorSeleccionado"
              [value]="entrada.nombreSector"
              (change)="asignarSectorYPrecio(entrada)"
            />
            <label>{{entrada.nombreSector}}</label>
          </li>
        </ul>
      </li>
    </ul>

    <h4>Cantidad</h4>

    <!--ver verificaciones-->
    <select [(ngModel)]="compra.cantidad">
      <option *ngFor="let num of [1,2,3,4]" [value]="num">{{num}}</option>
    </select>

    <button (click)="comprarEntrada()">Comprar entrada</button>

    <div *ngIf="mensaje" class="mensaje">{{ mensaje }}</div>
  </fieldset>
</section>
