

<section class="fondo">
  <div class="divreg"><h1 class="titulo-compra">Comprar Entrada</h1> </div>
  
    <section class="compra-section">
      <div class="wrapper">
        <h3 class="subtitulo-compra">Selecciona tu sector y cantidad</h3>
        <fieldset class="compra-fieldset">
          <div *ngIf="fechaSeleccionada.entradas">
            <ul class="lista-sectores">
              <li *ngFor="let entrada of fechaSeleccionada.entradas" class="sector-item">
                <input
                  type="radio"
                  id="sectorSeleccionado"
                  name="sectorSeleccionado"
                  [(ngModel)]="sectorSeleccionado"
                  [value]="entrada.nombreSector"
                  (change)="asignarSectorYPrecio(entrada)"
                  [disabled]="entrada.disponibles === 0"
                  class="radio-sector"
                />
                <label for="sectorSeleccionado" class="label-sector">{{entrada.nombreSector}}</label>
                <p class="precio-sector">${{entrada.precio}}</p>
              </li>
            </ul>
          </div>
    
          <h4 class="titulo-cantidad">Cantidad de entradas</h4>
          <select [(ngModel)]="compra.cantidad" (change)="actualizarTotalPrecio()" class="select-cantidad">
            <option value="" disabled selected>Seleccionar cantidad</option>
            <option value="1" *ngIf="asientosDisponibles >= 1">1</option>
            <option value="2" *ngIf="asientosDisponibles >= 2">2</option>
            <option value="3" *ngIf="asientosDisponibles >= 3">3</option>
            <option value="4" *ngIf="asientosDisponibles >= 4">4</option>
          </select>
    
          <div *ngIf="sectorSeleccionado" class="detalle-compra">
            <p class="detalle-texto">{{sectorSeleccionado}} X{{compra.cantidad}} = ${{compra.precioTotal}}</p>
          </div>
    
          <!-- cuando pongamos mp en el click se pone realizar compra true -->
          <button
          (click)="comprarEntrada()"
          class="boton-comprar"
          [disabled]="sectorSeleccionado == '' || yaCompro">
          Pagar entrada
        </button>
    
      </fieldset>
      </div>
    
      <!-- <div *ngIf="realizarCompra">
        <app-mercado-pago [compra]="compra" (pagoExitoso)="pagoRealizado()"></app-mercado-pago>
      </div> -->
    
    </section>
    
  </section>
  