
<section class="fondo">

  <app-filtrar-compras></app-filtrar-compras>

  <div class="filtros">
    <button class="boton-filtro"  (click)="filtrarComprasPorEstado('habilitado')">Mostrar Habilitadas</button>
    <button class="boton-filtro"  (click)="filtrarComprasPorEstado('deshabilitado')">Mostrar Deshabilitadas</button>
    <button  class="boton-filtro"  (click)="filtrarComprasPorEstado('todos')">Mostrar Todas</button>
  </div>

  <section class="compras-section">

    <ul class="compras-list">
      <li *ngFor="let compra of comprasFiltradas">
        <div class="compra-item">
          <div class="compra-content">
            <h3 class="evento-nombre">Entrada para: {{ compra.evento.nombreEvento }}</h3>
            <p class="evento-fecha">Fecha del evento: {{ compra.evento.fechaEvento }}</p>
            <button class="detalle-boton" type="button" [routerLink]="['/ver-detalle-entradas', compra.id]">
              Ver Detalle
            </button>
            <button class="detalle-boton" (click)="confirmarDHR(compra)">
              {{ compra.alta ? 'Dar de baja' : 'Habilitar' }} compra
            </button>
          </div>
        </div>
      </li>
    </ul>
  </section>
</section>
