.fila-section {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  max-width: 800px;
  margin: 30px auto;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  text-align: center;
}

.titulo-fila {
  font-size: 24px;
  font-weight: bold;
  color: #36173d;
  margin-bottom: 20px;
}

.boton-ingresar {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #6a4d8c;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.boton-ingresar:hover {
  background-color: #36173d;
  transform: scale(1.05);
}

.lista-fila {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-fila {
  background-color: #f4f4f9;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.item-fila:hover {
  background-color: #e7e7f5;
  transform: translateY(-5px);
}

.turno {
  font-weight: bold;
  color: #36173d;
}

.nombre {
  color: #6a4d8c;
}

.estado {
  color: #8e44ad;
  font-style: italic;
}

.song-preview {
  margin-top: 30px;
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 30px auto;
}

.song-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.album-cover {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
}

.text-info {
  flex-grow: 1;
  margin-left: 20px;
  text-align: left;
}

.text-info h3 {
  font-size: 20px;
  color: #36173d;
  margin: 0;
}

.text-info .artist {
  font-size: 16px;
  color: #6a4d8c;
}

audio {
  margin-top: 15px;
  width: 100%;
  border-radius: 8px;
  border: none;
}

