<!--<h1>ESTAS EN LA FILA !!!!</h1>
<a [routerLink]="['/elegir-entrada', usuario?.id, evento?.id, fecha]" >Ir a comprar</a>-->

<section class="fondo">
  <div *ngIf="usuario">
    <section class="fila-section">
      <h2 class="titulo-fila">¡Bienvenido a la fila, {{ usuario.nombre }}!</h2>
      <button type="button" class="boton-ingresar" (click)="agregarCliente(usuario.nombre)">Ingresar</button>
  
      <ul class="lista-fila">
        <li *ngFor="let cliente of fila" class="item-fila">
          <span class="turno">{{ cliente.turno }}</span>
          <span class="nombre">{{ cliente.nombre }}</span>
          <span class="estado">{{ cliente.estado }}</span>
        </li>
      </ul>
    </section>
  </div>
  
  <div class="barra-progreso-container">
    <div class="barra-progreso" [style.width.%]="progreso"></div>
  </div>
  
  <div *ngIf="cancionSeleccionada" class="song-preview">
    <div class="song-info">
      <img [src]="cancionSeleccionada.album.images[0].url" alt="Portada del álbum" class="album-cover" />
      <div class="text-info">
        <h3>{{ cancionSeleccionada.name }}</h3>
        <p class="artist">{{ cancionSeleccionada.artists[0].name }}</p>
      </div>
    </div>
    <audio #audioPlayer controls autoplay>
      <source [src]="cancionSeleccionada?.preview_url" type="audio/mpeg">
      Tu navegador no soporta el elemento de audio.
    </audio>
  </div>
  
</section>
