
.seccion-perfil {
  padding: 25px;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 30px auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}

.perfil-header {
  text-align: center;
  margin-bottom: 20px;
}

.titulo-perfil {
  font-size: 28px;
  font-weight: bold;
  color: #36173d;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.subtitulo-perfil {
  font-size: 16px;
  color: #6a4d8c;
}


.informacion-perfil {
  margin-bottom: 15px;
}

.lista-perfil {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.detalle {
  margin-bottom: 10px;
  line-height: 1.5;
}

.direccion {
  margin-top: 5px;
}

.direccion li {
  margin-left: 20px;
}


.acciones {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.boton-editar {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #36173d;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton-editar:hover {
  background-color: #6a4d8c;
  transform: translateY(-5px);
}

.boton-editar:active {
  transform: translateY(2px);
}


.formulario-editar {
  margin-top: 20px;
  text-align: center;
}

.titulo-editar {
  font-size: 20px;
  font-weight: bold;
  color: #36173d;
  margin-bottom: 15px;
}


strong {
  color: #36173d;
}
