
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

.seccion-perfil {
  margin-top:1%;
    width:470px;
    border-radius:8px;
    padding: 30px;
    text-align: center;
    border: 1px solid #ffffff80;
    backdrop-filter: blur(8px);
}

.perfil-header {
  text-align: center;
  margin-bottom: 20px;
}

.titulo-perfil {
  font-size: 30px;
  font-weight: bold;
  color: #36173d;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.subtitulo-perfil {
  font-size: 16px;
  color: #36173d;
}


.informacion-perfil {
  margin-bottom: 15px;
 text-align: left;

}

.lista-perfil {
  list-style: none;
  padding: 0;
  margin-left:2%;
  margin-top:2%;
  font-size: 16px;

}

.detalle {
  margin-bottom: 10px;
  line-height: 1.5;
}

.direccion {
  margin-top: 5px;
}

.direccion li {
  margin-left: 20px;
}


.acciones {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.boton-editar {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: lighter;
  color: #fff;
  background-color: #36173d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton-editar:hover {
  background-color: #ff4845;
  color: #36173d;
  transform: translateY(-5px);
}

.boton-editar:active {
  transform: translateY(2px);
}


.formulario-editar {
  margin-top: 20px;
  text-align: center;
}

.titulo-editar {
  font-size: 20px;
  font-weight: bold;
  color: #36173d;
  margin-bottom: 15px;
}


strong {
  color: #36173d;
}

body{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  min-height:80vh;
  padding: 0 10px;
  color:white;
}

body::before{
  content:"";
  position: absolute;
  width:100%;
  height:215%;
  background:url('/img/audiencia-background.jpg')
  #000;
  background-position: center;
  background-size:auto;
  z-index:-1 ;
}