<header>
  <div class="wrapper">

    <div class="logo">
      <span *ngIf="idUsuario !== null" [routerLink]="['usuarios', idUsuario]">TicketPass</span>
      <span *ngIf="idUsuario === null">TicketPass</span>
    </div>

    <div *ngIf="tipoUsuario === 1">
      <!-- Menú para el Administrador -->
      <nav>
        <button (click)="menuDesplegable()" class="menu-button">&#9776;</button>

        <div class="menu" [class.open]="verMenu">
          <ul>
            <li><a [routerLink]="['/administrador' , idUsuario]">Menu</a></li>
            <li><a routerLink="add-eventos">Cargar evento</a></li>
            <li><a [routerLink]="['/eventos-administrador', idUsuario]">Ver eventos registrados</a></li>
            <li><a routerLink="recintos">Ver recintos</a></li>
            <li><a href="compras">Ver compras</a></li>
            <li><a [routerLink]="['/ver-usuarios', idUsuario]">Ver usuarios registrados</a></li>
          </ul>
        </div>

        <a href="#" (click)="cerrarSesion()">Cerrar sesión</a>
      </nav>
    </div>

    <div *ngIf="tipoUsuario === 2">
      <!-- Menú para el Cliente -->
      <nav>
        <a [routerLink]="['/perfil' , idUsuario]" >Mi perfil</a>
        <a [routerLink]="['/ver-mis-entradas', idUsuario]">Mis Entradas</a>
        <a href="#" (click)="cerrarSesion()">Cerrar sesión</a>
      </nav>
    </div>

    <div *ngIf="tipoUsuario === null">

      <!-- Menú para los usuarios no logueados -->
      <nav>
        <a routerLink="/iniciar-sesion">Iniciar sesión</a>
        <a routerLink="/registrarse">Registrarse</a>
      </nav>
    </div>

  </div>

</header>


