<section>
  <fieldset>
    <form action="">
      <legend>Alta de Evento</legend>
      <!-- Banner del evento -->
      <div>
        <label for="bannerEvento"></label>
        <input type="text" id="bannerEvento" [(ngModel)]="evento.UrlBanner" [ngModelOptions]="{standalone: true}"
          placeholder="url/banner.com" required>
      </div>

      <!-- Nombre evento -->
      <div>
        <label for="nombreEvento">Nombre del evento:</label>
        <input type="text" id="nombreEvento" [(ngModel)]="evento.nombreEvento" [ngModelOptions]="{standalone: true}"
          required>
      </div>
      <!-- Nombre artista / banda -->
      <div>
        <label for="nombreArtista-Banda">Artista/Banda:</label>
        <input type="text" id="nombreArtista-Banda" [(ngModel)]="evento.artista_banda"
          [ngModelOptions]="{standalone: true}" required>
      </div>

      <!-- Duracion -->
      <div>
        <label for="duracion">Duracion:</label>
        <input type="time" id="duracion" [(ngModel)]="evento.duracion" [ngModelOptions]="{standalone: true}" required>
      </div>


      <!-- Fechas -->
      <div>
        @for (item of evento.fecha; track $index){ <!-- ver si este for funciona -->
        <div>
          <label for="fecha">Fecha:</label>
          <input type="date" id="fecha" [(ngModel)]="fecha.fecha" [ngModelOptions]="{standalone: true}" required>
        </div>
        <div>
          <label for="horario">Horario:</label>
          <input type="time" id="horario" [(ngModel)]="fecha.hora" [ngModelOptions]="{standalone: true}" required>
        </div>

        <!-- datos de la entrada -->
        <section>
          <div>
            <label for="seleccionRecinto">Seleccione un recinto</label>
            <select name="seleccionRecinto" id="seleccionRecinto" (change)="seleccionRecinto($event)">
              <option *ngFor="let recinto of listadoRecintos" [value]="recinto.id">
                {{ recinto.nombreRecinto }}
              </option>
            </select>
          </div>

          <div>
            <ul>
              @for (item of fecha.entradas; track $index){  <!-- ??? que hay que iterar -->
              <li>
                {{buscarNombreSector(item.sector_id)}}
                <label for="precioSector">$</label>  <!-- deberia ponerle precio a cada ENTRADA (osea por sector) -->
                <input type="text" id="precioSector" [(ngModel)]="entrada.precio" [ngModelOptions]="{standalone: true}"
                  required>
              </li>
            }
            </ul>
          </div>
        </section>

        }
      </div>
</section>