*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.input-url{
    width:200px;
    padding: 5px 15px;
    margin: 5px;
    box-sizing:content-box;
    border-color:#fa8331;
    border-radius:40px;
    background-color: #eeeeee;
} 

.input-field{
    position: relative;
    border-bottom:2px solid #36173d;
    margin-bottom:10px;
}
 .input-field label{
    position:absolute;
    color:#36173d;
    top:50%;
    left:0;
    transform: translateY(-50%);
    font-size:16px;
    pointer-events:none;
    transition: 0.15s ease;
}

.input-field input{
    width:100%;
    height:40px;
    color:#36173d;
    background:transparent;
    border: none;
    outline: none;
    font-size: 16px;
}

.input-field input[type="time"] {
    width: 100%;
    height: 40px;
    color: #36173d;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    text-align: center; /* Centra el texto horizontalmente */
    box-sizing: border-box; 
}
.input-field input[type="date"] {
    width: 100%;
    height: 40px;
    color: #36173d;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    text-align: center; 
    box-sizing: border-box; 
}

.input-field input:focus~label,
.input-field input:valid~label{
    font-size: 0.9rem;
    top:10px;
    transform: translateY(-120%);
}
 
.container{  /* posicion del submit */
    display: flex;
    justify-content:flex-end;
    margin-top: 10px;
    width: 100%;
}

.divreg {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 10px auto 10px auto;
    padding: 20px 40px;
    background-color: #fa8331;
    border-radius:40px;
    width:90%;
}

h2{

    margin-top:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: white;
    /* width: 150px; */
}

button{
    background-color: #36173d;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin:1px;
    color: white;
    padding: 9px 15px;
    border-radius: 45px;
    border-color:#36173d;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
    margin-bottom: 20px;
    margin-right:80px;
}

button:hover{
    background:#fa8331;
    border-color: #fa8331;
    border-radius:45px;
    color: #36173d;
}

label{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.inputBanner{
    margin-top:0px;
    margin-right:10px;
    padding:5px;
    border-radius: 40px;
    background-color: #eeeeee;
    border:1px solid #fa8331;
}
h4{

    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #36173d;

}

.flex-container{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin-bottom:20px;
}


.fieldEvento{
    width: 470px;
    padding: 30px;
    border-radius:8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-left:80px;
    text-align: center;
    border: 1px solid #fa833189;
    background-color: #fa833189;
}

.fieldRecinto{
    width: 470px;
    padding: 30px;
    border-radius:8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-right:80px;
    text-align: center;
    border: 1px solid #fa833189;
    background-color: #fa833189;
}

.fieldFecha{
    width: 470px;
    padding: 30px;
    border-radius:8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-left:80px;
    text-align: center;
    border: 1px solid #fa833189;
    background-color: #fa833189;
}

.fielset-container{
display: row;
margin-top: 10px;
align-items: center;
justify-content: center;
}

select {
    width:200px;
    padding: 5px 15px;
    background-color: #36173d;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin:1px;
    color: white;
    border-radius: 45px;
    border-color:#36173d;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
    margin-bottom: 20px;
    margin-right:80px;
}

 select:hover {
    background-color: #fa8331;
    border-color: #fa8331;
    color:#36173d;
}

h5{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #36173d;
}




