<form #formulario="ngForm" (ngSubmit)="eventoIn ? emitUpdate(formulario) : addEvento(formulario)">  
  <!-- BANNER E INPUT DEL BANNER -->
  <div class="divreg">
    <h2>{{ eventoIn ? 'Editar Evento' : 'Agregar Evento' }}</h2>

    <div class="inputBanner">
      <label for="bannerEvento">URL del Banner</label>
      <input
        class="input-url"
        type="text"
        id="bannerEvento"
        name="bannerEvento"
        [(ngModel)]="evento.UrlBanner"
        #bannerEvento="ngModel"
        placeholder="url/banner.com"
        required
      />
      <div class="divAvisos" *ngIf="bannerEvento.invalid && bannerEvento.touched">
        Debe completar el campo
      </div>
    </div>
  </div>

  <div class="fielset-container">
    <div class="flex-container">
      <!-- FIELDSET EVENTO -->
      <fieldset class="fieldEvento">
        <h4>Datos del evento</h4>

        <div class="input-field">
          <label for="nombreEvento">Nombre del evento</label>
          <input
            type="text"
            id="nombreEvento"
            name="nombreEvento"
            [(ngModel)]="evento.nombreEvento"
            #nombreEvento="ngModel"
            required
          />
          <div class="divAvisos" *ngIf="nombreEvento.invalid && nombreEvento.touched">
            Debe completar el campo
          </div>
        </div>

        <div class="input-field">
          <label for="nombreArtistaBanda">Artista/Banda</label>
          <input
            type="text"
            id="nombreArtistaBanda"
            name="nombreArtistaBanda"
            [(ngModel)]="evento.artista_banda"
            #nombreArtistaBanda="ngModel"
            required
          />
          <div class="divAvisos" *ngIf="nombreArtistaBanda.invalid && nombreArtistaBanda.touched">
            Debe completar el campo
          </div>
        </div>

        <div class="input-field">
          <label for="duracion">Duración</label>
          <input
            type="time"
            id="duracion"
            name="duracion"
            [(ngModel)]="evento.duracion"
            #duracion="ngModel"
            required
          />
          <div class="divAvisos" *ngIf="duracion.invalid && duracion.touched">
            Debe completar el campo
          </div>
        </div>
      </fieldset>

      <fieldset class="fieldRecinto"> <!-- SELECCIONE RECINTO -->
        <div>
          <h4>Seleccione recinto</h4>
          <br>
          <label for="seleccionRecinto"></label>
          <br>
          <select name="seleccionRecinto" id="seleccionRecinto" (change)="seleccionRecinto($event)" [disabled]="!fechaAgregada && !eventoIn" required>

            <div class="divAvisos" *ngIf="formulario.controls['seleccionRecinto']?.invalid && formulario.controls['seleccionRecinto']?.touched ">
              Debe seleccionar un recinto
            </div>

            <option value="" disabled selected>Recintos</option>

            <option value="" disabled selected>Recintos</option>
            <option *ngFor="let recinto of listadoRecintos" [value]="recinto.id">
              <br>
              {{ recinto.nombreRecinto }}
            </option>      
          </select>
        </div>

        <div>
          <ul>
            <!-- Itera sobre todas las fechas del evento -->
            <li *ngFor="let fecha of evento.fechas">
              <h5>Fecha: {{ fecha.fecha | date }}</h5>

              <!-- Itera sobre las entradas de la fecha actual -->
              <div *ngFor="let entrada of fecha.entradas">
                <h6>{{entrada.nombreSector}}</h6>
                <div  class="input-field">
                  <input type="text" id="precioSector-{{ entrada.nombreSector }}" name="precioSector-{{ entrada.nombreSector }}" [(ngModel)]="entrada.precio"
                  [ngModelOptions]="{standalone: true}" required>

                  <div class="divAvisos" *ngIf="formulario.controls['precioSector-{{ entrada.nombreSector }}']?.invalid && formulario.controls['precioSector-{{ entrada.nombreSector }}']?.touched ">
                    Debe completar el campo
                  </div>
                  <label for="precioSector-{{ entrada.nombreSector }}">$</label>
                </div>
              </div>
            </li>
          </ul>
        </div>

      </fieldset> <!-- ACA TERMINA SELECCIONE RECINTO -->


    </div>

    <fieldset class="fieldFecha">
      <!-- Datos de las fechas -->
      <div *ngFor="let fecha of evento.fechas; let i = index">
        <h4>Fecha {{ i + 1 }}</h4>
        <div class= "input-field">
          <input type="date" id="fecha-{{i}}" [(ngModel)]="fecha.fecha" [ngModelOptions]="{standalone: true}" required>
          <label for="fecha-{{i}}">Fecha</label>
        </div>
        <div class="input-field">
          <input type="time" id="horario-{{i}}" [(ngModel)]="fecha.hora" [ngModelOptions]="{standalone: true}" required>
          <label for="horario-{{i}}">Horario</label>
        </div>
      </div>

      <!-- Formulario para agregar una nueva fecha -->
      <div *ngIf="mostrarFormularioFecha">
        <h4>Agregar Nueva Fecha</h4>
        <div class="input-field">
          <input type="date" id="nuevaFecha" [(ngModel)]="nuevaFecha.fecha" [ngModelOptions]="{standalone: true}" required>
          <label for="nuevaFecha">Fecha</label>
       
        </div>
        <div class="input-field">
          <input type="time" id="nuevoHorario" [(ngModel)]="nuevaFecha.hora" [ngModelOptions]="{standalone: true}" required>
          <label for="nuevoHorario">Horario</label>
         
        </div>
        <button type="button" (click)="aceptarFecha()">Aceptar</button>
      </div>

      <!-- Botón para mostrar el formulario de agregar fecha -->
      <button type="button" *ngIf="!mostrarFormularioFecha" (click)="mostrarFormularioFecha = true">Nueva Fecha</button>
    </fieldset>


  </div> <!--FIN DEL FIELDSER-CONTAINER-->


  <!-- BOTON DE AGREGAR -->
  <div class="container">
    <button type="submit" [disabled]="formulario.invalid">
      {{ eventoIn ? 'Editar Evento' : 'Agregar Evento' }}
    </button>
    </div>

</form>
