<section>
  <section>
    <div class="wrapper">
      <h4>Ingrese su nombre de usuario</h4>
      <form #formUsuario="ngForm" (ngSubmit)="buscarUsername(formUsuario)">
       <div class="input-field">
          <input type="text" id="usuarioForm" name="usuarioForm" ngModel required>
          <label for="usuarioForm">Usuario</label>
              <div class="divAvisos" *ngIf="formUsuario.controls['usuarioForm']?.invalid && formUsuario.controls['usuarioForm']?.touched" >
                   Debe ingresar su usuario
              </div>
      </div>
      <button  type="submit" [disabled]="formUsuario.invalid">Verificar usuario</button>
      </form>
      </div>
  </section>
</section>