<section class="fondo">
  <section class="seccion-eventos">
    <h2 class="titulo-eventos-deshabilitados">Eventos Deshabilitados</h2>
    <ul class="lista-eventos">
      @if(listaEventos.length == 0){
        <p class="no-hay-eventos">No hay eventos deshabilitados.</p>
      }
      <li *ngFor="let evento of listaEventos; let index = index" class="item-evento">
        <ol class="nombre-evento">{{evento.nombreEvento}}</ol>
  
        <div class="contenedor-botones">
          <button class="boton-detalle" type="button" [routerLink]="['/detalle-evento', evento.id]">
            Ver Detalle
          </button>
        </div>
      </li>
    </ul>
  </section>
</section>

