<section>
  <fieldset>
    <form action="">
      <!-- Nombre del Recinto -->
      <div>
        <label for="nombreRecinto">Nombre del Recinto:</label>
        <input type="text" id="nombreRecinto" name="nombreRecinto" [(ngModel)]="recinto.nombreRecinto" required>
      </div>

      <!-- Dirección del Recinto -->
      <div>
        <label for="calle">Calle:</label>
        <input type="text" id="calle" name="calle" [(ngModel)]="recinto.direccion.calle" required>
      </div>

      <div>
        <label for="numero">Numero:</label>
        <input type="number" id="nunero" name="numero" [(ngModel)]="recinto.direccion.numero" required>
      </div>

      <div>
        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad" [(ngModel)]="recinto.direccion.ciudad" required>
      </div>

      <div>
        <label for="codigoPostal">Código Postal:</label>
        <input type="text" id="codigoPostal" name="codigoPostal" [(ngModel)]="recinto.direccion.codigoPostal" required>
      </div>

      <div>
        <label for="pais">País:</label>
        <input type="text" id="pais" name="pais" [(ngModel)]="recinto.direccion.pais" required>
      </div>

      <!-- URL de la Imagen del Recinto -->
      <div>
        <label for="urlImg">URL de la Imagen del Recinto:</label>
        <input type="text" id="urlImg" name="urlImg" [(ngModel)]="recinto.urlImg" required>
      </div>

      <!-- URL del Mapa de Sectores -->
      <div>
        <label for="urlMapaSectores">URL del Mapa de Sectores:</label>
        <input type="text" id="urlMapaSectores" name="urlMapaSectores" [(ngModel)]="recinto.urlMapaSectores">
      </div>


      <div>
        <!-- Sectores -->
        <label for="nombreSector">Nombre del Sector:</label>
        <input type="text" id="nombreSector" name="nombreSector" [(ngModel)]="sector.nombreSector" required>

        <label for="capacidad">Capacidad:</label>
        <input type="number" id="capacidad" name="capacidad" [(ngModel)]="sector.capacidad" required>
        <label for="butacasNumeradas">¿Butacas Numeradas?:</label>
        <input type="checkbox" id="butacasNumeradas" name="butacasNumeradas"
        [(ngModel)]="sector.numerado">

        <button type="button" (click)="agregarSector()">Agregar sector</button>

        @for (sector of sectoresTemp; track $index) {
          {{sector.nombreSector}}
          <button (click)="eliminarSector ($index)">Eliminar</button>
        }

        <div *ngIf="recintoRecibido">
          @for (sector of recinto.sectores; track $index) {
            {{sector.nombreSector}}
            <button (click)="eliminarSectorEdit ($index)">Eliminar</button>
          }
        </div>

      <button (click)="addRecinto()">Enviar</button>
    </div>

    </form>
  </fieldset>
</section>
