<section>

  <div class="wrapper">
    <h2>Recintos cargados</h2>
    <ul>
        @for (item of listaRecintos; track $index){
          <li><h4>{{item.nombreRecinto}}</h4></li>
  
          <div class="botones">
            <button [routerLink]="['/recintos' , item.id]" >Ver mas</button>
            <button (click)="habilitarDeshabilitar(item)">
              {{ item.alta ? 'Deshabilitar' : 'Habilitar' }} recinto
            </button>
          </div>
      
         }
    </ul>
  </div>
  
</section>
