<div>
  <input
    type="text"
    name="input-busqueda"
    [(ngModel)]="busqueda"
    (input)="filtrarEventos()"
    placeholder="Buscar eventos..."
  />

  <div *ngIf="mostrarResultados && resultados.length > 0" class="busqueda">
    <ul>
      <li *ngFor="let evento of resultados" [routerLink]="['/detalle-evento' , idUsuario ,evento.id]">
          {{ evento.nombreEvento }} - {{ evento.artista_banda }}
      </li>
    </ul>
  </div>

  <div *ngIf="mostrarResultados && resultados.length === 0" class="busqueda">
    <div>No se encontraron eventos.</div>
  </div>
</div>
