 <body>

  <div class="wrapper">
    <input
      type="text"
      name="input-busqueda"
      [(ngModel)]="busqueda"
      (input)="filtrarEventos()"
      placeholder=" Buscar eventos..."
    />

    <div *ngIf="mostrarResultados && resultados.length > 0" class="busqueda">
      <ul>
        <li *ngFor="let evento of resultados" (click)="redirigir(evento.id)" >
          <div class="divInfo">
            {{ evento.nombreEvento }} - {{ evento.artista_banda }}
          </div>

        </li>
      </ul>
    </div>

    <div *ngIf="mostrarResultados && resultados.length === 0" class="busqueda">
      <div>No se encontraron eventos.</div>
    </div>
  </div>

 </body>
