.fecha {
  border: 1px solid #202B38;
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px; /* Espacio interno */
  margin: 5px 0; /* Margen vertical entre grupos */
  background-color: #4d535a;
}

.header {
  display: flex;
  justify-content: flex-end; /* Alinea a la derecha */
  padding: 10px; /* Espaciado alrededor del contenedor */
}

.btn-guardar {
  position: absolute; /* Posición absoluta dentro del contenedor */
  top: 10px; /* Distancia desde la parte superior */
  right: 10px; /* Distancia desde la derecha */
  padding: 10px 20px; /* Espacio interno del botón */
  background-color: #007bff; /* Color de fondo (azul) */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.btn-guardar:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}
