<p>inicio-sesion works!</p>
<section>
    <fieldset>
        <legend>Inicio de Sesion</legend>
        <form #formInicioSesion="ngForm" (ngSubmit)="iniciarSesion(formInicioSesion)">
            <label for="usuarioForm">Usuario:</label>
            <input type="text" id="usuarioForm" name="usuarioForm" ngModel required>
            <div *ngIf="formInicioSesion.controls['usuarioForm']?.invalid && formInicioSesion.controls['usuarioForm']?.touched"> Debe ingresar su usuario</div>

            <label for="contraseniaForm">Constraseña:</label>
            <input type="password" id="contraseniaForm" name="contraseniaForm" ngModel required >
            <div *ngIf="formInicioSesion.controls['contraseniaForm']?.invalid && formInicioSesion.controls['contraseniaForm']?.touched">Debe ingresar su contraseña</div>
            <button type="submit" [disabled]="formInicioSesion.invalid">Iniciar sesion</button>
        </form>

        <a routerLink="registrarse">Todavia no tenes cuenta? Registrate haciendo click</a>
    </fieldset>
</section>
