<section class="footer">
  <p>©TicketPass 2024</p>

  <ul class="integrantes">
    <li><a href="https://github.com/emiliamaldo">Maria Emilia Maldonado</a></li>
    <li><a href="https://github.com/laradb10">Lara Diaz Bastarrica</a></li>
    <li><a href="https://github.com/JuliMoriis">Julia Moris</a></li>
  </ul>

  <ul class="social-media">
    <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
    <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
    <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
  </ul>

  <ul class="legal">
    <li><a [routerLink]="['/soporte']">Soporte</a></li>
  </ul>
</section>
